.loader {
  border: 4px solid #bac9fb;
  border-radius: 50%;
  border-top: 4px solid #004ee4;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient-text {
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  background: linear-gradient(
    90.85deg,
    #004ee4 39.76%,
    #7f9cff 100%
  ); /* Define your gradient */
  -webkit-background-clip: text; /* Clip the background to the text for WebKit-based browsers */
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
}
.gradient-text2 {
  font-size: 48px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  background: linear-gradient(
    90.85deg,
    #004ee4 39.76%,
    #7f9cff 100%
  ); /* Define your gradient */
  -webkit-background-clip: text; /* Clip the background to the text for WebKit-based browsers */
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  @media(max-width: 768px)
  {
    font-size: 36px;
  }
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(
    90deg,
    #9adcff 0%,
    rgba(226, 245, 255, 0.62) 100%
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.imageCard {
  height: 103px;
  width: 107px;
  background: #e2fff5;
  opacity: 40;
  flex: 1 1 20px;
  margin: 10px;
  border-radius: 25px;
  transition: 0.8s ease-in-out;
  @media (max-width:1024px){
    height: 100% !important;
    width: 100%;
  }
}
.imageCard img {
  height: 103px;
  width: 100%;
  object-fit: cover;
}
.imageCard:hover {
  flex: 3 1 20px;
  background: #e2fff5;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  width: 120px !important;
  border-radius: 25px !important;
  border: 1px solid transparent !important;
  background: linear-gradient(90deg, #5a7fff 0%, #364c99 100%) !important;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}
.react-multi-carousel-track {
  margin-bottom: 20px !important;
}
.graph-container {
  height: 30% !important;
  @media (max-width: 768px) {
    height: 170px !important;
  }
}
