@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide {
  width: 33% !important;
  height: 100% !important;
  min-height: 340px !important;
  @media (max-width: 768px) {
    width: 100% !important;
    min-height: 340px !important;
  }
}
.slick-track {
  width: 100% !important;
}
.slick-slide > div {
  margin: 0 20px;
}
